// Базовые стили спойлеров
// Сниппет (HTML): spoller

// Блок со спойлерами
.spollers {
	display: grid;
	gap: rem(15);
}
// Спойлер
.spollers__item {
	@include adaptiveValue("font-size", 18, 16);
	line-height: math.div(18, 18);
}
// Заголовок спойлера
.spollers__title {
	width: 100%;
	cursor: default;
	text-align: left;
	border: rem(1) solid #eee;
	padding: rem(10) rem(38) rem(10) rem(15);
	border-radius: rem(5);
	position: relative;
	._spoller-init & {
		cursor: pointer;
		&::before,
		&::after {
			content: "";
			position: absolute;
			right: rem(10);
			top: 50%;
			background-color: #000;
			height: rem(2);
			@include adaptiveValue("width", 15, 10);
			transition: transform 0.5s ease 0s;
		}
		&::before {
			transform: translate(-75%, -50%) rotate(40deg);
		}
		&::after {
			transform: translate(0, -50%) rotate(-40deg);
		}
		&._spoller-active {
			&::before {
				transform: translateX(-75%) rotate(-40deg);
			}
			&::after {
				transform: rotate(40deg);
			}
		}
	}
}
// Контент спойлера
.spollers__body {
	@include adaptiveValue("font-size", 16, 14);
	line-height: math.div(23, 16);
	@include adaptiveValue("padding", 20, 10);
	border-radius: rem(5);
	border: rem(1) solid #eee;
}
